<div class="row">
  <div class="col-md-12 mt-3">
    <p class="{{line.class}} line" *ngFor="let line of lines">
      <span class="{{output.class}}" *ngFor="let output of line.outputs">
        {{output.message}}
      </span>
    </p>
  </div>
  <div class="col-md-12 mt-3">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="command" (keyup.enter)="execute()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="execute()" type="button">Execute</button>
      </div>
    </div>  
  </div>
</div>